*{
    margin:0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 920px;
    min-height: 640px;
    background-color: rgb(254, 254, 254);
    font-family: '微软雅黑','Open Sans','sans-serif';
}
a{
    cursor: pointer;
}
img{
    vertical-align: middle;
}
.cover-page {
    position: relative;
}

.scroll-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.login-page-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
}

.login-page-bg > img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.login-box-banner{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -150px;
    width: 100%;
    height: 330px;
    z-index: 101;
}
.login-box {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: -12px 11px 17px rgba(0,0,0,0.3);
    /* padding-top: 30px; */
    padding: 30px 20px;
    z-index: 6;
    width: 377px;
    min-height: 315px;
    margin: auto;
}
.left-box{
    width: 40%;
    float: left;
}
.ql-right-box{
    width: 60%;
    float: left;
}
.ql-input-box{
    background-color: #ffffff;
}
.ql-m10{
    margin: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.ql-input-box img{
    vertical-align: middle;
    border-right: solid #ECEAEA 1px;
    width: 30px;
    margin: 10px 0px;
    /*padding: 0px 10px;*/
}
.ql-input-box input{
    width: 280px;
    line-height: 45px;
    font-size: 16px;
    border: none;
    text-indent: 8px;
    outline:none;
}
ul{
    list-style: none;
}
.border-bottom-line{
    border-bottom: solid #ECEAEA 1px;
}
.check-icon{
    vertical-align: bottom;
    width: 20px;
}
.float-right{
    float: right;
}
.login-btn{
    background-color: #3078D7;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.hide{
    display: none;
}
.pageTitle{
    font-size: 18px;
    font-weight: bold;
}
.form-ul{
    margin: 0px 90px;
}
.form-ul li{
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 5px 10px;
    line-height: 45px;
}
.form-ul input{
    width: 300px;
    line-height: 45px;
    font-size: 18px;
    border: none;
    outline:none;
    text-indent: 8px;
    cursor: pointer;
}
.sendCode{
    border-left: solid 1px #cdcdcd;
    padding:2px 20px;
    cursor: pointer;
    color: #3078D7;
}