@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${template.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
			     <#input id="id" name="Id" underline="true" value="${template.id}"/>
			     <#input id="templateName" name="模板名称" underline="true" value="${template.templateName}"/>
			     <#input id="templatePath" name="模板地址" underline="true" value="${template.templatePath}"/>
			     <#input id="userId" name="UserId" underline="true" value="${template.userId}"/>
			     <#input id="templateDesc" name="TemplateDesc" underline="true" value="${template.templateDesc}"/>
			     <#input id="fileName" name="文件名称" underline="true" value="${template.fileName}"/>
			     <#input id="crtUserId" name="创建人" underline="true" value="${template.crtUserId}"/>
			     <#input id="crtTime" name="创建时间" underline="true" value="${template.crtTime}"/>
			     <#input id="mdfUserId" name="修改人" underline="true" value="${template.mdfUserId}"/>
			     <#input id="mdfTime" name="修改时间" underline="true" value="${template.mdfTime}"/>
			     <#input id="templateType" name="模板类型" underline="true" value="${template.templateType}"/>
                </div>

                <div class="col-sm-6">

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TemplateInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TemplateInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz/template/template_info.js"></script>
@}
