<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.afterturn.gen.repository.TemplateRepository">

	<resultMap type="TemplateEntity" id="TemplateEntityMap">
		<result column="ID" property="id" />
		<result column="TEMPLATE_NAME" property="templateName" />
		<result column="TEMPLATE_PATH" property="templatePath" />
		<result column="USER_ID" property="userId" />
		<result column="TEMPLATE_DESC" property="templateDesc" />
		<result column="FILE_NAME" property="fileName" />
	</resultMap>

	<select id="selectList" resultMap="TemplateEntityMap">
		select * from t_system_template t
		<include refid="select_content" />
	</select>

	<sql id="select_content">
		<where>
			<if test="e.id != null and e.id != '' ">
				AND t.ID = #{e.id}
			</if>
			<if test="e.templateName != null and e.templateName != '' ">
				AND t.TEMPLATE_NAME = #{e.templateName}
			</if>
			<if test="e.templatePath != null and e.templatePath != '' ">
				AND t.TEMPLATE_PATH = #{e.templatePath}
			</if>
			<if test="e.userId != null and e.userId != '' ">
				AND t.USER_ID = #{e.userId}
			</if>
			<if test="e.templateDesc != null and e.templateDesc != '' ">
				AND t.TEMPLATE_DESC = #{e.templateDesc}
			</if>
			<if test="e.fileName != null and e.fileName != '' ">
				AND t.FILE_NAME = #{e.fileName}
			</if>
		</where>
	</sql>

</mapper>